<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3447803267-j0c15otg9n1qup996n7d6act7gg8k72j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3447803267-j0c15otg9n1qup996n7d6act7gg8k72j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>3447803267-vi8b11gedrdn8vbrr8t1gf810asljupt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC3pHgvkym8PXCe58JcSbudZsSZH8pmiB0</string>
	<key>GCM_SENDER_ID</key>
	<string>3447803267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scoutsApp</string>
	<key>PROJECT_ID</key>
	<string>stacked-000</string>
	<key>STORAGE_BUCKET</key>
	<string>stacked-000.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3447803267:ios:cd34dd070f57b8bb6afab6</string>
</dict>
</plist>